@charset 'utf-8';
* {
  margin:0px;
  padding:0px;
}
body {
  width:50%;
}
body>div {
  position:relative;
  float:left;
  width:33.3%;
}
body>div:before {
  content:'';
  display:block;
  padding-top:100%;
}
body>div:nth-child(even) {
  background:gray;
}
a {
  display:block;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
.○,.× {
  border-radius:50%;
}
.○ {
  background:red !important;
}
.× {
  background:blue !important;
}
.終 {
  opacity:0.2;
}
